.margen_input{
    margin-top: 20px;
    margin-left: 10px;
    
}
.input-index{
    color: #fff;   
    
    background-color: #198754;
    border-color: #198754;
}

header{
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(86, 168, 4);
}

#imgLogo{
    margin: 10px;
}

.input-registro{
    background-color: rgb(189, 178, 178);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}




.centrar_titulo{
    margin-bottom: 20px;
}

#btn-submit-form{
    background-color: rgb(86, 168, 4);
    size: 100px;
}

form{
    text-align: center ;
}
label{
    text-align: left;
}
